<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Employee update form</h1>
    <form method="post">
        {{form.as_p}}
        {%csrf_token %}
    {% for em in form}
        ename:<input type="text" name="ename" value="{{em.ename}}"><br>
        eid:<input type="text" name="eid" value="{{em.eid}}"><br>
        esal:<input type="text" name="eid" value="{{em.esal}}"><br>
        eexp:<input type="text" name="eid" value="{{em.eexp}}"><br>
    {% endfor %}
{% endblock %}
    </form>
</body>
</html>