<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="2">
    <tr>
        <th>ename</th>
        <th>eid</th>
        <th>eexp</th>
        <th>esal</th>
        <th>edit</th>
    </tr>
    {%for emp in employee%}
    <tr>
        <td>{{emp.ename}}</td>
        <td>{{emp.eid}}</td>
        <td>{{emp.eexp}}</td>
        <td>{{emp.esal}}</td>

        <td>
            <a href="/na/update/{{emp.id}}">update</a>
            <a href="/na/delete/{{emp.id}}">delete</a>
        </td>

    </tr>
    {% endfor %}
</table>
</body>
</html>